.users{
	padding: 10px;
	box-sizing: border-box;
	transition: all .5s ease;
}
.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 30px 0;
}

.item{
	font-size: 14px;
	font-weight: bold;
	color: lightsteelblue;
	margin: 0 10px;
	cursor: pointer;
	transition: all .5s ease;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #f0f6ff;
	box-shadow: 3px 3px 0 lightsteelblue;
}
.active{
	font-size: 14px;
	font-weight: bold;
	color: #778596;
	background: #f0f6ff;
	margin: 0 10px;
	cursor: pointer;
	transition: all .5s ease;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #f0f6ff;
	box-shadow: 3px 3px 0 lightsteelblue;
}

.active:hover, .item:hover{
	color: #fff;
	background: lightsteelblue;
	box-shadow: 2px 2px 0 lightsteelblue;
}

.user{
	display: flex;
	margin: 10px 5px;
	justify-content: space-between;
	padding: 15px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #f0f6ff;
	box-shadow: 0 5px 5px 0 #f0f6ff;
}

.pic{
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button {
	border: 1px solid #f0f6ff;
	background: transparent;
	padding: 0 10px;
	transition: all .5s ease;
	outline: none;
	font-weight: bold;
	color: lightsteelblue;
	box-shadow: 5px 5px 0 lightsteelblue;
}

.button:hover {
	color: #fff;
	background: lightsteelblue;
	box-shadow: 3px 3px 0 0 lightsteelblue;
}
.button:active {
	color: lightsteelblue;
	background: #f0f6ff;
	box-shadow: 1px 1px 0 lightsteelblue;
}

a{
	text-decoration: none;
}


.info{
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	color: #333;
}

.fullName{
	transition: all .5s ease;
	font-weight: 900;
	color: #333;
	font-size: 16px;
}

.fullName:hover{
	color: lightsteelblue;
}

.status{
	color: #333;
	font-weight: 100;
	font-size: 12px;
}

.left, .right{
	display: flex;
	align-items: center;
}
.ava{
	margin: 5px;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	background-color: white;
	background-image: -webkit-linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%), -webkit-linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%);
	background-image: linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%), linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%);
	background-position: 0 0, 8px 8px;
	background-size: 16px 16px;
	overflow: hidden;
}
.ava img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}