.nav {
	grid-area: n;
	padding: 20px;
	border: 1px solid #f0f6ff;
	box-shadow: 0 5px 5px 0 #f0f6ff;
}

.item {
	margin: 5px 0;
}

.item a {
	color: lightsteelblue;
	text-decoration: none;
}

.item a.activeLink {
	font-weight: bold;
	color: #333;
}
